/*header*/
.header{
    background-color:rgba(28, 64, 115, 0.9); 
    padding: 17px 0;
    position: relative;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: inline-block;
    font-size: 1.6rem;
}
.hamburger-link{
    display: inline-block;
    width: 28px;
    height: 28px;
}
.hamburger-line{
    background-color: #ffdd00;
    width: 28px;
    height: 3px;
    display: block;
    margin-bottom: 5px;
}
.hamburger-line:last-child{
    margin-bottom:0;
}

.open .hamburger-line{
    transition: 0.5s;
}
.open .hamburger-line:nth-child(2){
    display: none;
}
.open .hamburger-line:first-child{
    transform: rotate(135deg);
    margin-bottom: -3px;
}
.open .hamburger-line:last-child{
    transform: rotate(45deg);
}

.navigation{
    display: none;
    background-color: rgba(32,39,61,.9);
    position: absolute;
    top:100%;
    right: 0;
    width: 100%;
    z-index: 2;
    text-align: center;
    padding: 10px 0;
}
.menu a{
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    padding: 10px 15px;
}
.menu a:hover{
    opacity: 0.7;
    background-color: rgba(10, 45, 126, 0.8);
}

/*banner*/
.banner{
   position: relative;
}
.slide-content{
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 300px;
    z-index: 1;
}
.banner img{
    display: block;
    /* min-height: 350px; */
}
.banner-content{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    text-align: center;
    max-width: 340px;
    margin: 0 auto;
}
.slide{
    position: relative;
}
.slick-arrow{
    position: absolute;
    bottom: 50%;
    color: #fff;
    font-size: 0;
    z-index: 1;
    background: url(../images/sprite.png) no-repeat 1px 1px;
    width: 23px;
    height: 26px;
    background-size: 100px;
}
.slick-prev{
    left: 10px;
    transform: rotate(180deg);
}
.slick-next {
    right: 10px;
}
/*slider-dots*/
.slick-dots{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}
.slick-dots li{
    margin: 0 2px;
    font-size: 0;
}
.slick-dots li button{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
}
.slick-dots .slick-active{
    border: 2px solid #fff;
    border-radius: 50%;
} 
.slick-dots .slick-active button{
    background-color: #fff;
}
/*blank-section*/
.blank-section{
    background-color: rgb(92, 92, 243);
    height: 200px;
}
/*year-exp*/
.companies{
    padding: 30px 0;
    background-color: rgba(244,246,249,0.8);
}
.companies-wrapper{
    border-radius: 9px;
    max-width: 745px;
    margin: 0 auto;
    position: relative;
    top: -79px;
}
.year-exp{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 9px;
    text-align: center;
    padding: 15px;
    margin-bottom: 25px;
}
.year-exp li{
    width: 50%;
    padding: 15px;
}
.year-exp li:nth-child(1){
    border-right: 1px solid #e2e3e9;
    border-bottom: 1px solid #e2e3e9;
}
.year-exp li:nth-child(2){
    border-bottom: 1px solid #e2e3e9;
}
.year-exp li:nth-child(3){
    border-right: 1px solid #e2e3e9;
}
.partners{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.partners li{
    width: calc(35% - 15px);
    margin: 10px 13px 10px 12px;
    text-align: center;
}
.partners li:nth-child(5){
    width: 100%;
}
.partners li img{
    margin: 0 auto;
}
.blank-line{
    text-align: center;
    display: block;
}
.partners img{
    display: block;
}
.companies-wrapper h5{
    position: relative;
    text-align: center;
    margin-bottom: 25px;
}
.companies .blank{
    display: inline-block;
    padding: 3px 10px;
    color: #b9bdca;
    font-weight: 500;
    position: relative;
    z-index: 2;
}
.companies-wrapper h5:after{
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: green;
    z-index: 0;
    display: none;
}
/*network-info*/
.network-info {
    padding: 20px 0;
    background-color: rgba(255,200,150,0.7);
    overflow: hidden;
}
.column-wrapper{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}
.column{
    min-width: 205px;
    width: 100%;
    text-align: center;
    margin: 0 8px;

}
.network-info h3{
    font-size: 1.8rem;
    color: #fff;
    background-color: #000;
    margin-bottom: 0;
    padding: 25px;
    font-weight: 500;
}
.network-info h3:nth-child(2){
    background-color:#04aa6d;
}
.network-info  ul{
    border: 1px solid gray;
}
.network-info  ul li{
    border-bottom: 1px solid gray;
    font-size: 1.4rem;
    padding: 25px;
}
.network-info  ul li:last-child{
    border-bottom: none;
    background-color: #eee;
    padding-top: 15px;
    padding-bottom: 15px;
}
.network-info  ul li:first-child{
    background-color: #eee;
}
.btn{
    background-color: #04aa6d;
    color: #fff;
    padding: 10px 20px;
}
/*contact-team*/
.contact-team{
    padding: 30px 0;
}
.contact-list h2{
    color: #000;
    line-height:1.5;
    font-size: 2.5rem;
    text-align: left;
}
.explore{
    display: block;
    font-size: 1.6rem;
    color: #c4c3c2;
    margin-bottom: 13px;
}
.contact-list ul{
    background-color: #faf7f4;
    padding: 9px 9px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.contact-list ul li{
    color: #000;
    font-size: 1.4rem;
    border-bottom: 1px solid #eeebe8;
    padding: 20px 0 20px 20px;
    position: relative;
    font-weight: 500;
    line-height: 1.4;
}
.contact-list ul li:last-child{
    border-bottom: none;
}
.highlight-link,.fields{
    display: block;
    color: #c4c3c2;
    font-size: 1.3rem;
    margin-bottom: 15px;
}
.highlight-link a{
    color: #c4c3c2;
    font-size: 1.3rem;
    text-decoration: underline;
}
.icon-check{
    background: url(../images//sprite.png) no-repeat -95px -95px;
	width: 9px;
	height: 10px;
    position: absolute;
    top: 14px;
    left: 2px;
}
.contact-list{
    margin-bottom: 20px;
}
/* .highlight-link a{
    display: inline-block;

} */
/*contact-form*/
.contact-form label{
    font-size: 1.5rem;
    color: #000;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
}
.first-name{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
.input-wrap{
    width: calc(50% - 10px);
    margin: 0 5px;
}
input-wrap:nth-child(2){
    margin-right: 0;
    margin-left: 10px;
}
.contact-form input,.contact-form select,.contact-form textarea{
    display: block;
    width: 100%;
    border: 1px solid gainsboro;
    padding: 5px 10px;
    -webkit-appearance: auto;
    font-size: 1.5rem;
}
.wrap-data{
    margin-bottom: 20px;
}
.contact-form .btn{
    width: 50%;
    background-color: #ea7b6f;
    padding: 10px;
}
/*footer*/
.footer{
    background-color: #3d4452;
    padding-top: 30px;
}
.left-footer h3{
    text-align: left;
    color: #fff;
}
.left-footer p{
    color: #fff;
}
.right-footer{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}
.link-col{
    width: 170px;
    text-align: center;
}
.link-col h3{
    color: #fff;
    /* text-align: left; */
    margin-bottom: 15px;
}
.link-col ul li{
    margin-bottom: 7px;
}
.primary-footer{
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
}
.secondary-footer{
    padding: 30px 0;
    text-align: center; 
    border-bottom: 2px solid gray;
}
.secondary-footer span{
    font-size: 1.6rem;
    margin-right: 10px;
    color: #fff;
}
.secondary-footer .btn{
    border-radius: 25px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}
.secondary-footer .btn:hover{
    background-color: gainsboro;
    color: #fff;
    border-color: gainsboro;
}
/*icons*/
.third-footer{
    text-align: center;
    padding: 30px 0;
}
.link-btn{
    display: inline-block;
    margin-right: 7px;
}
.link-btn i{
    background-size: cover;
    padding: 14px;

}
.link-btn .icon-facebook{
    background-image: url(../images/icon1.png);
}
.icon-twitter{
    background-image: url(../images/icon2.png);
}
.icon-google{
    background-image: url(../images/icon3.png);
}
.icon-instagram{
    background-image: url(../images/icon4.png);
}
.icon-linkedin{
    background-image: url(../images/icon5.png);
}
.icon-github{
    background-image: url(../images/icon6.png);
}
/*fourth-footer*/
.fourth-footer{
    background-color: #343643;
    padding: 20px 0;
}
.fourth-footer span{
    font-size: 1.5rem;
    margin-right: 0;
    color: #fff;
}
.fourth-footer .btn{
    font-size: 1.5rem;
    border: none;
    padding: 0; 
}
.fourth-footer .btn:hover{
    background-color: transparent;
    color: #fff;
}
